<nav class="navbar fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="#">Feddit</a>
</nav>

<div class="container">
    <div class="jumbotron">
        Welcome to Feddit
    </div>
</div>

<nav class="navbar fixed-bottom navbar-light bg-light">
    <a class="navbar-brand" href="#">blank</a>
</nav>