<nav class="navbar fixed-top navbar-light">
  <a class="navbar-brand" href="#">Feddit.com - internet's fake reddit</a>
  <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/scrape">Get Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/deleteAll">Clear Articles</a>
      </li>
    </ul>
</nav>

<div class="container">
  <div class="jumbotron">
    Welcome to Feddit
  </div>
  <div id="articles"></div>
  <div id="notes"></div>
  <div id="comments"></div>
  <div id="results"></div>
</div>
<script src="assets/js/app.js"></script>
<nav class="navbar fixed-bottom navbar-light">
  <a class="navbar-brand" href="#"></a>
</nav>